<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Portfolio apps for designer">
  <title>InstaArt</title>
</head>

<body>
  <header class="sticky-top shadow-sm bg-primary"></header>

  <main>
    <div class="row">
      <div class="loading-container col-12">
        <div class="spinner-border text-secondary" role="status">
          <span class="sr-only">Loading...</span>
        </div>
      </div>
    </div>
  </main>

  <footer class="container d-flex flex-column align-items-center text-black-50 text-center mt-5 mb-4">
    <span class="h5 font-redressed">InstaArt</span>

    <span class="h6 mt-4">© DraftCode 2021.</span>
  </footer>
</body>

</html>