@import 'config';

@import 'utilities';


#home {
  .jumbotron {
    background-image: linear-gradient(to top right, #CEE1FF, #DBE9FF, #E7F0FF);
    min-height: 450px;
  }
}

// Profile Page
main #profile {
  .user-image-border{
    border: 3px double #fff;
  }
}

// Post detail page
main #post {
  button.like,
  button.dislike {
    width: 3rem;
    height: 3rem;
  }
}

// Search Page
main #search {
  min-height: 300px;
}

main #new-job {
  label[for="terms"] {
    margin-bottom: 0;
    line-height: 1;
  }

  #terms-text:hover {
    text-decoration: underline;
    cursor: pointer;
  }
}

main #job-detail .job-desc {
  text-align: justify;
}

main #activity #activity-content {
  height: 400px;
  overflow-y: scroll;
}

@media (min-width: 1200px) {
  main #new-job {
    label[for="terms"] {
      line-height: .5;
      font-size: 1rem;
    }
  }
}
