@font-face {
  font-family: 'Redressed';
  font-weight: 400;
  src: url('../../public/fonts/Redressed-Regular.ttf') format('truetype');
}

.font-redressed {
  font-family: 'Redressed', 'serif';
}

.user-profile-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 200px;
  height: 200px;
  overflow: hidden;
}

.user-profile-container img {
  position: absolute;
  width: 100%;
}