@font-face {
  font-family: 'Montserrat Black';
  font-weight: 400;
  src: url('../public/fonts/Montserrat-Black.ttf') format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-weight: 400;
  src: url('../public/fonts/Montserrat-regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Redressed';
  font-weight: 400;
  src: url('../public/fonts/Redressed-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Segoe UI';
  font-style: normal;
  font-weight: normal;
  src: url('../public/fonts/Segoe UI.woff') format('woff');
}
@font-face {
  font-family: 'Segoe UI Italic';
  font-style: normal;
  font-weight: normal;
  src:  url('../public/fonts/Segoe UI Italic.woff') format('woff');
}
@font-face {
  font-family: 'Segoe UI Bold';
  font-style: normal;
  font-weight: normal;
  src: url('../public/fonts/Segoe UI Bold.woff') format('woff');
}
@font-face {
  font-family: 'Segoe UI Bold Italic';
  font-style: normal;
  font-weight: normal;
  src: url('../public/fonts/Segoe UI Bold Italic.woff') format('woff');
}

* {
  font-family: 'Segoe UI', 'serif';
  box-sizing: border-box;
}

.font-redressed {
  font-family: 'Redressed', 'serif';
}